<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    
    <preference for="PowerBi\AddReport\Api\Data\ReportsInterface" type="PowerBi\AddReport\Model\Reportes"/>
    

    <virtualType name="PowerBi\AddReport\Model\ResourceModel\Reportes\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">admin_reports</argument>
            <argument name="resourceModel" xsi:type="string">PowerBi\AddReport\Model\ResourceModel\Reportes\Collection</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="reportes_reportes_listing_data_source" xsi:type="string">PowerBi\AddReport\Model\ResourceModel\Reportes\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>