<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Prueba_PowerBi::powerbi" 
        title="PowerBI" 
        parent="Magento_Reports::report" 
        module="Prueba_PowerBi" 
        sortOrder="1" 
        resource="Prueba_PowerBi::powerbi"/>
		
        <add id="Prueba_PowerBi::demolist" 
        title="Asesores PowerBi" 
        module="Prueba_PowerBi" 
        sortOrder="2" 
        parent="Prueba_PowerBi::powerbi" 
        action="sample/demolist" 
        resource="Prueba_PowerBi::demolist" />

        
        <add id="Prueba_PowerBi::index_add_asesorinfo" 
        title="Add Reports" 
        parent="Prueba_PowerBi::powerbi" 
        module="Prueba_PowerBi" 
        sortOrder="3"  
        resource="Prueba_PowerBi::index_add_asesorinfo" 
        action="asesor/addinformes"/>
	</menu>
</config>
