<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="PowerBi_Asesor::asesores" 
        title="Asesor" 
        parent="Magento_Reports::report" 
        module="PowerBi_Asesor" 
        sortOrder="1" 
        resource="PowerBi_Asesor::asesores"/>
		
         <add id="PowerBi_Asesor::index_asesores" 
        title="Reports" 
        parent="PowerBi_Asesor::asesores" 
        module="PowerBi_Asesor" 
        sortOrder="2"  
        resource="PowerBi_Asesor::index_asesores" 
        action="asesores/asesores/index"/>
	</menu>
</config>
